:host {
  width: 100%;
  display: flex;

  input {
    border: var(--border-default);
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    background-color: var(--color-hint-first);
    border-right: 0;
    padding: 1rem;
    width: 100%;
    z-index: 0;
    outline: none;
  }

  .button {
    display: flex;
    align-items: center;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    background-color: var(--color-orange);
    padding-left: 1rem;
    padding-right: 1rem;

    st-icon {
      width: 20px;
    }

    &:hover {
      background-color: #a82700;
    }

    &.copied {
      background-color: green;
    }
  }
}