:host {
  --st-switch-width: 40px;
  --st-switch-nib-size: 25px;
  --st-switch-nib-icon-size: 15px;

  display: block;
  height: 10px;
  border-radius: 12px;
  width: var(--st-switch-width);
  background-color: var(--color-control-hover);
  position: relative;
  cursor: pointer;
  user-select: none;
  
  .container {
    display: flex;

    &.disabled {
      pointer-events: none;
      cursor: not-allowed;
    }

    .nib {
      display: flex;
      height: var(--st-switch-nib-size);
      width: var(--st-switch-nib-size);
      top: 50%;
      background-color: var(--color-control-active);
      border-radius: 100%;
      align-items: center;
      justify-content: center;
      position: absolute;
      transition: var(--transition-fast);
      transform: translateY(-50%);

      st-icon {
        width: var(--st-switch-nib-icon-size);
        color: var(--color-white);
      }

      &.on {
        translate: 15px;
      }
    }
  }
}
