section#contributors {
  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem 0 0 0;
    padding: 0;
    list-style: none;

    .contributor {
      display: block;
      flex-basis: calc(20% - 1rem);
      padding: 2rem 0;
      margin-bottom: .5rem;
      text-align: center;
      cursor: pointer;
      background-color: var(--color-hint-second);
      border-radius: var(--border-radius);
      transition: var(--transition-fast);

      &:hover {
        box-shadow: var(--box-shadow-focused);
        transform: var(--transform-focused-slight);
        background-color: var(--color-hint-first);
      }

      st-contributor-avatar {
        width: 90px;
        display: inline-block;
      }

      h1 {
        margin-top: 1rem;
        font-size: 1rem;
        font-weight: normal;
      }
    }
  }
}
