@if (sample(); as sample) {
  <div class="input">
    <st-syntax-code-block
        [(code)]="snippet"
        [editable]="editable()"
        [highlight]="highlight()"
        [caretColor]="caretColor()"></st-syntax-code-block>
    <div>
      @if (sample) {
        <st-icon title="Open sample in playground"
                 icon="sports_esports"
                 (click)="onOpenInPlayground()"></st-icon>
      }
      @if (state() === LoadingState.LOADING) {
        <st-loading></st-loading>
      } @else {
        <st-icon icon="play_circle" (click)="compile()"></st-icon>
      }
    </div>
  </div>

  @if (compilationResponse(); as compilationResponse) {
    @if (!compilationResponse.isError()) {
      <div class="output" [innerHTML]="compilationResponse.result"></div>
    } @else {
      <div class="error" [innerHTML]="compilationResponse.error"></div>
    }
  }
}
