@for (alert of alerts(); track alert.id) {
  <div class="container" [@slideInSide]>
    <a class="content" [routerLink]="alert.href" (click)="onAlertClicked(alert)">
      <div class="icon">
        <st-icon [icon]="alert.icon"></st-icon>
      </div>
      <div class="messages">
        <h1 [innerHTML]="alert.title"></h1>

        @if (alert.description; as subMessage) {
          <h2 [innerHTML]="subMessage"></h2>
        }
      </div>
    </a>
    <div class="buttons">
      <a class="block" title="Don't show this alert ever again" (click)="onBlockAlert(alert)">
        <st-icon icon="block"></st-icon>
      </a>
    </div>
  </div>
}
