@if (calendarItem(); as calendarItem) {
  <header>
    <div class="title">
      <div>
        <st-icon class="popup-icon" icon="calendar_month"></st-icon>
      </div>
      <div>
        <h1 [innerHTML]="calendarItem.event.title | truncate: 70"></h1>
      </div>
    </div>

    <div class="overview">
      <ol class="details">
        <li title="Start Time">
          <div><st-icon icon="play_circle"></st-icon></div>
          <div>{{ calendarItem.event.starts | date:'MMM d, y, h:mm a z' }}</div>
        </li>
        <li title="End Time">
          <div><st-icon icon="stop_circle"></st-icon></div>
          <div>{{ calendarItem.event.ends | date:'MMM d, y, h:mm a z' }}</div>
        </li>
        @if (calendarItem.event.location) {
          <li title="Location">
            <div><st-icon icon="pin_drop"></st-icon></div>
            <div>{{ calendarItem.event.location }}</div>
          </li>
        }
        @if (calendarItem.event.attendees; as attendees) {
          @if (calendarItem.event.attendees.length > 0) {
            <li title="SYCL.Tech Attendees">
              <div><st-icon icon="people"></st-icon></div>
              <div>
                <st-layered-contributor-avatars
                    [contributors]="attendees"
                    [limit]="3"></st-layered-contributor-avatars>
              </div>
            </li>
          }
        }
      </ol>
      <div class="buttons">
        <a class="button" [href]="environment.github_content_repo_collection_base_url + '/events#note-attendance'"
           target="_blank"
           rel="noopener">
          <st-icon icon="person_add"></st-icon>Note Your Attendance</a>
        <a class="button" [href]="calendarItem.event.url" target="_blank">
          <st-icon icon="link"></st-icon>Visit Event Website
        </a>
      </div>
    </div>
  </header>

  @if (calendarItem.event.content) {
    <main>
      <article>
        <div class="content" [innerHTML]="calendarItem.event.content"></div>
      </article>
    </main>
  }
}
