<header>
  <div>
    <h1><st-icon icon="category" class="popup-icon"></st-icon>Choose a Sample</h1>
  </div>
  <div>
    <a class="button" [href]="environment.github_content_repo_collection_base_url + '/playground_samples/'"
       target="_blank" rel="noopener">
      <st-icon icon="add"></st-icon>Contribute a Sample</a>
  </div>
</header>

<main class="samples">
  <div class="new" (click)="onChooseNew()">
    <st-icon icon="add_circle"></st-icon>New
  </div>

  @if (state() === LoadingState.LOAD_SUCCESS) {
    <ol>
      @for (sample of samples(); track sample) {
        <li (click)="onChooseSample(sample)">
          {{ sample.title }}
        </li>
      }
    </ol>
  } @else if (state() === LoadingState.LOADING) {
    <div class="loading">
      <st-loading></st-loading>
    </div>
  }
</main>
