<div class="head">
  <div>
    <st-icon [icon]="icon()"></st-icon>
    <div class="centered title">{{ title() }}</div>
  </div>
  <div class="actionButtons">
    @if (actionButtons(); as actionButtons) {
      @for (button of actionButtons; track button.name) {
        <st-icon
            [icon]="button.icon"
            [title]="button.title"
            [ngClass]="{'enabled': !button.disabled, 'active': button.active}"
            (click)="onActionButtonClicked(button)"></st-icon>
      }

      @if (viewState() === PanelViewState.NORMAL || viewState() === PanelViewState.MAXIMIZED) {
        <st-icon
            icon="minimize"
            title="Minimize the panel"
            (click)="onSetViewState(PanelViewState.MINIMIZED)"></st-icon>
      }

      @if (viewState() === PanelViewState.MINIMIZED || viewState() === PanelViewState.NORMAL) {
        <st-icon
            icon="fullscreen"
            title="Maximize the panel"
            (click)="onSetViewState(PanelViewState.MAXIMIZED)"></st-icon>
      }

      @if (viewState() === PanelViewState.MINIMIZED || viewState() === PanelViewState.MAXIMIZED) {
        <st-icon
            icon="fullscreen_exit"
            title="Restore the panel"
            (click)="onSetViewState(PanelViewState.NORMAL)"></st-icon>
      }
    }
  </div>
</div>
<div class="body">
  @if (state() === MiniPanelState.LOADING) {
    <div class="loading">
      <div class="top">
        <div>
          <st-loading></st-loading>
          <h1 [innerHTML]="loadingMessage()"></h1>
        </div>
      </div>
      <div class="bottom">
        <a href="https://godbolt.org/" target="_blank" rel="noopener" class="ce-logo">
          <img ngSrc="../../../../../assets/images/playground/compiler-explorer.svg" alt="Compiler Explorer Logo" height="326"
               width="876" priority />
        </a>
      </div>
    </div>
  } @else if (state() === MiniPanelState.EMPTY) {
    <div class="empty">
      <div>
        <st-icon icon="coffee"></st-icon>
        <h1>Ready</h1>
      </div>
    </div>
  } @else {
    <ng-content></ng-content>
  }
</div>
